.block-menu .commander, .block-menu .menu .carte-menu, .block-restaurants .card-restaurant, .block-exploration a, .block-logo, .block-fonctionnement .fonctionnement {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.block-menu .commander:hover, .block-exploration a:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.block-fonctionnement {
  padding: 15px;
}
.block-fonctionnement .fonctionnement {
  position: relative;
  display: flex;
  border-radius: 25px;
  background: rgba(114, 114, 114, 0.05);
  margin: 20px 10px;
  padding: 20px;
  font-weight: bold;
}
.block-fonctionnement .fonctionnement .pastille {
  position: absolute;
  background: #9356DC;
  border-radius: 100%;
  color: white;
  width: 26px;
  height: 26px;
  left: calc(-26px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}
.block-fonctionnement .fonctionnement i {
  margin-right: 20px;
  color: grey;
  left: 15%;
  margin-left: 30px;
  width: 20px;
  font-size: 20px;
}
.block-fonctionnement .fonctionnement:last-child {
  background: #f2eafb;
}
.block-fonctionnement .fonctionnement:last-child i {
  color: #9356DC;
}

header {
  width: 100%;
}

.block-logo {
  padding: 20px;
  position: relative;
}
.block-logo a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.block-logo .fa-arrow-left {
  font-size: 31px;
  margin-right: 10px;
}
.block-logo .logo {
  min-width: 150px;
  max-width: 320px;
  margin: auto;
  display: block;
}

.block-localisation {
  background: rgba(114, 114, 114, 0.15);
  padding: 20px;
  display: flex;
  justify-content: center;
}
.block-localisation i {
  margin-right: 10px;
}

.block-exploration {
  background: rgba(114, 114, 114, 0.05);
  text-align: center;
  padding: 40px;
}
.block-exploration h1 {
  margin-bottom: 15px;
  font-size: 28px;
}
.block-exploration p {
  margin-bottom: 30px;
}
.block-exploration a {
  color: white;
  border: none;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 18px;
  font-size: 16px;
  border-radius: 36px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}
.block-exploration a:hover {
  background: linear-gradient(to top, #9b63df, #ff88de);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.block-restaurants {
  background: #f8f8f8;
  padding: 20px;
}
.block-restaurants h2 {
  margin-bottom: 20px;
}
.block-restaurants .card-restaurant {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px;
  background: white;
  position: relative;
}
.block-restaurants .card-restaurant a {
  text-decoration: none;
  color: black;
}
.block-restaurants .card-restaurant img {
  object-fit: cover;
  object-position: 50% 60%;
  width: 100%;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.block-restaurants .card-restaurant .nouveau {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #99E2D0;
  padding: 5px 12px;
  border-radius: 2px;
  color: #278870;
  font-weight: 600;
  font-size: 14px;
}
.block-restaurants .card-restaurant .nom-coeur {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.block-restaurants .card-restaurant .nom-coeur .nom-lieu a {
  text-decoration: none;
  color: black;
}
.block-restaurants .card-restaurant .nom-coeur .nom-lieu p {
  margin-top: 10px;
}
.block-restaurants .card-restaurant .nom-coeur .coeur {
  font-size: 25px;
  cursor: pointer;
  -webkit-text-stroke: 2px black;
  color: transparent;
  transition: color 0.2s;
}
.block-restaurants .card-restaurant .nom-coeur .coeur:hover {
  color: #9356DC;
  -webkit-text-stroke: 2px #9356DC;
}

.footer {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin-bottom: 15px;
}
.footer ul {
  list-style: none;
}
.footer ul a {
  color: white;
  text-decoration: none;
  line-height: 25px;
}
.footer ul a i {
  margin-right: 7px;
  width: 20px;
}

.block-menu {
  background: #f8f8f8;
  overflow: hidden;
}
.block-menu .image-restaurant {
  width: 100%;
}
.block-menu .image-restaurant img {
  width: 100%;
}
.block-menu .menu {
  position: relative;
  background: #f8f8f8;
  top: -50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 20px;
}
.block-menu .menu .titre-coeur {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-family: "Shrikhand", "cursive";
  margin: 20px 0;
}
.block-menu .menu .titre-coeur h1 {
  font-size: 2rem;
}
.block-menu .menu .titre-coeur i {
  font-size: 25px;
  cursor: pointer;
  -webkit-text-stroke: 2px black;
  color: transparent;
  transition: color 0.2s;
}
.block-menu .menu .titre-coeur i:hover {
  color: #9356DC;
  -webkit-text-stroke: 2px #9356DC;
}
.block-menu .menu .titre-menu {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 100;
  margin: 40px 0 0;
  position: relative;
}
.block-menu .menu .barre-verte {
  width: 40px;
  height: 3px;
  background: #99E2D0;
  margin-top: 5px;
  margin-bottom: 20px;
}
.block-menu .menu .carte-menu {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  margin-bottom: 15px;
  opacity: 0;
}
.block-menu .menu .carte-menu .left-carte {
  padding: 15px;
  width: 100%;
  overflow: hidden;
}
.block-menu .menu .carte-menu .left-carte .title-menu {
  margin-bottom: 10px;
}
.block-menu .menu .carte-menu .left-carte .title-menu h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.block-menu .menu .carte-menu .left-carte .aliments-prix {
  display: flex;
  justify-content: space-between;
}
.block-menu .menu .carte-menu .left-carte .aliments-prix .aliments {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.block-menu .menu .carte-menu .left-carte .aliments-prix .prix {
  font-weight: bold;
}
.block-menu .menu .carte-menu .right-carte {
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  width: 0;
  font-size: 1.5rem;
  color: white;
}
.block-menu .menu .carte-menu .right-carte i {
  transition: 0.5s;
}
.block-menu .menu .carte-menu:hover .right-carte {
  width: 100px;
}
.block-menu .menu .carte-menu:hover .right-carte i {
  transform: rotate(360deg);
}
.block-menu .menu .block-carte .carte-menu:nth-child(3) {
  animation-name: affichage-aliments;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.block-menu .menu .block-carte .carte-menu:nth-child(4) {
  animation-name: affichage-aliments;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.block-menu .menu .block-carte .carte-menu:nth-child(5) {
  animation-name: affichage-aliments;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.block-menu .menu .block-carte .carte-menu:nth-child(6) {
  animation-name: affichage-aliments;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes affichage-aliments {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.block-menu .commander {
  text-align: center;
  border: none;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 15px;
  font-size: 16px;
  border-radius: 36px;
  font-weight: bold;
  width: 40%;
  margin: 60px auto 20px;
  cursor: pointer;
  transition: 0.2s;
}
.block-menu .commander .bouton-commander {
  color: white;
  text-decoration: none;
}
.block-menu .commander:hover {
  background: linear-gradient(to top, #9b63df, #ff88de);
}

.main {
  max-width: 640px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F8F8F8;
}

/*# sourceMappingURL=style.css.map */
