header {
    width: 100%;
}

.block-logo {
    @extend %shadow;
    padding: 20px;
    position: relative;
    a {
        text-decoration: none;
        color: black;
    }
    .fa-arrow-left {
        position: absolute;
        font-size: 31px;
    }
    .logo {
        width: 50%;
        margin: auto;
        display: block;
    }
}