header {
    width: 100%;
}

.block-logo {
    @extend %shadow;
    padding: 20px;
    position: relative;
    a {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
    }
    .fa-arrow-left {
        font-size: 31px;
        margin-right: 10px;
    }
    .logo {
        min-width: 150px;
        max-width: 320px;
        margin: auto;
        display: block;
    }
}