body {
    animation: body-hidden 3s;
}
.loading {
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(to top, $primaire, $secondaire);
    animation: afficher-loading 3s;
    .spinner {
        width: 0px;
        background-color: $tertiaire;
        animation: spinner 3s;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
}

@keyframes afficher-loading {
    0% {
        height: 100vh;
    }
    80% {
        height: 100vh;
    }
    100% {
        height: 0;
    }
}

@keyframes spinner {
    0% {
        height: 30px;
    }
    80% {
        height: 30px;
    } 
    100% {
        width: 120%;
        height: 0;
        border-radius: 0;
    }
}

@keyframes body-hidden {
    0% {
        overflow: hidden;
    }
    99% {
        overflow: hidden;
    }
    100% {
        overflow: visible;
    }
}