.block-restaurants {
    background: $gris-leger;
    padding: 20px;

    h2 {
        margin-bottom: 20px;
    }

    .card-restaurant {
        border-radius: 20px;
        width: 100%;
        margin-bottom: 20px;
        background: white;
        @extend %shadow;
        position: relative;
        a {
            text-decoration: none;
            color: black;
        }
        img {
            object-fit: cover;
            object-position: 50% 60%;
            width: 100%;
            height: 180px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

        }

        .nouveau {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: $tertiaire;
            padding: 5px 12px;
            border-radius: 2px;
            color: darken($tertiaire, 40);
            font-weight: 600;
            font-size: 14px;
        }

        .nom-coeur {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;

            .nom-lieu {
                a {
                    text-decoration: none;
                    color: black;
                }
                p {
                    margin-top: 10px;
                }
            }

            .coeur {
                font-size: 25px;
                cursor: pointer;
                // chekbox et si chek mettre couleur
                -webkit-text-stroke: 2px black;
                color: transparent;
                transition: color .2s;
            }

            .coeur:hover {
                color: $primaire;
                -webkit-text-stroke: 2px $primaire;
            }
        }
    }

}